<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to home page. > 3 + 6</h1>
    <h1><%= 3 + 6 %> => example of Interpolation</h1> 
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, minus, officiis soluta praesentium ea id, earum ipsam quaerat amet assumenda ab sint distinctio debitis iure facilis perferendis consequatur. Architecto, commodi!</p>
    <button>Click Me</button>
</body>
</html>