<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- This is first and not recommended way of passing data -->
    <!-- <h1> Number on Dice is < %= Math.floor(Math.random() * 6) + 1  %></h1> -->


    <!-- This is second and  recommended way of passing data -->
    <h1> Number on Dice is <%= diceVal %></h1>
</body>
</html>